.sensor {
  position: relative;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
  min-height: 30rem; 

  &:hover &__btn {
    opacity: 1;
  }

  &:hover &__name {
    opacity: 1;
  }

  &:hover &__unit {
    opacity: 1;
  }

  &__name, &__unit {
    color: var(--color-gray);
    opacity: .2;
    transition: opacity .5s ease-in;
  }

  &__name {
    font-weight: 100;
    font-size: 2rem;
  }

  &__values {
    margin: 3rem 0 2rem 0; 
  }

  &__value {
    font-size: 6rem;
    color: var(--color-primary--dark);
    border-bottom: 1px solid rgba(#eee, .2);
    width: max-content;
    margin: 0 auto;
    min-height: 5rem;
  }

  &__unit {
    margin: 1rem 6rem 6rem 6rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    opacity: .4;
  }
  
  &__btn {
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 40%;
  }
  
}