:root {
  --color-dark--1: #000000;
  --color-dark--2: #1B1B1B;
  --color-dark--3: #252525;

  --color-primary: #FF9000;
  --color-primary--dark: #ac9476;
  --color-primary--light: #FFA31A;

  --color-gray: #eee;

  --color-red: indianred;

  --color-green: #408d40;
 
  /*
  yellow
    #FAFAC6
    #FCFFEB
    #F8FFF4

  pink
    
  */
}